
@{
    ViewBag.Title = "Persona_vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grilla Personas</h2>

<script>
   function LlamarJsonDelServidor(){
    $.ajax({
        type: "POST",
        traditional: true,
        async: false,
        cache: false,
        url: '@Url.Action("LlamarJson","Persona")',
        context: document.body,
        data: { },
        success: function (result) {
            $("#resultado").html('');
            for (var i = 0; i < result.length; i++) {
                $("#resultado").append("<li> " + result[i].idPersona + " " + result[i].nombre + result[i].apellido + " " + result[i].email + " " + result[i].provincia + " " + result[i].localidad + " " + " </li>");
            }
        },
        error: function (xhr) {
            //debugger;
            console.log(xhr.responseText);
            alert("Error has occurred..");
        }
    });
}
</script>
<input type="button" onclick="LlamarJsonDelServidor();" value="Llamar Json del Server" />
<div id="resultado"></div>